@model SubtitlesManagementSystem.Web.Models.Languages.BindingModels.CreateLanguageBindingModel

@{
    ViewData["Title"] = "Create New Language";
}

<section class="contact-us" id="contact">
    @if (TempData["LanguageErrorMessage"] != null)
    {
        <div class="alert alert-danger" role="alert">
            @TempData["LanguageErrorMessage"]
        </div>
    }
    <div class="container">
        <div class="row">
            <div class="col-12 align-self-center">
                <div class="row justify-content-center mb-5">
                    <div class="col-lg-6">
                        <form id="contact" class="border border-dark" asp-action="Create" method="post">
                            <h2>@ViewData["Title"]</h2>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-floating mt-3">
                                <fieldset>
                                    <label asp-for="Name" class="control-label text-dark"></label>
                                    <input asp-for="Name" class="form-control" />
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </fieldset>
                            </div>
                            <div class="my-3">
                                <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
                            </div>
                        </form>
                        <div>
                            <a asp-action="Index" class="btn btn-secondary mt-5">Back to Languages List</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
