@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="ChangePasswordBinding.OldPassword" class="form-control" autocomplete="current-password" aria-required="true" />
                <label asp-for="ChangePasswordBinding.OldPassword" class="form-label"></label>
                <span asp-validation-for="ChangePasswordBinding.OldPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="ChangePasswordBinding.NewPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ChangePasswordBinding.NewPassword" class="form-label"></label>
                <span asp-validation-for="ChangePasswordBinding.NewPassword" class="text-danger"></span>
            </div>
            <div class="form-floating mt-3">
                <input asp-for="ChangePasswordBinding.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="ChangePasswordBinding.ConfirmPassword" class="form-label"></label>
                <span asp-validation-for="ChangePasswordBinding.ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary my-3">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
