@model SubtitlesManagementSystem.Web.Models.Countries.ViewModels.DeleteCountryViewModel

<section class="meetings-page" id="meetings" style="min-height: 100vh;">
    <div class="container">
        <div class="row">
            @if (TempData["CountryErrorMessage"] != null)
            {
                <div class="alert alert-danger" role="alert">
                    @TempData["CountryErrorMessage"]
                </div>
            }
            <div>
                <dl class="row bg-secondary">
                    <dt class="col-sm-2 text-dark bg-light">
                        @Html.DisplayNameFor(country => country.Name)
                    </dt>
                    <dd class="col-sm-10 text-white">
                        @Html.DisplayFor(actor => actor.Name)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-danger my-5" />
                    <a asp-action="Index" class="btn btn-primary my-5 ml-5">Back to Countries List</a>
                </form>
            </div>
        </div>
    </div>
</section>