@model SubtitlesManagementSystem.Web.Models.Users.DeleteUserViewModel

<section class="meetings-page" id="meetings" style="min-height: 100vh;">
    <div class="container">
        @if (TempData["UserErrorMessage"] != null)
        {
            <div class="alert alert-danger mb-3" role="alert">
                @TempData["UserErrorMessage"]
            </div>
        }

        <div class="row">
            <div>
                <dl class="row bg-secondary">
                    <dt class="col-sm-2 text-white bg-info font-weight-normal">
                        @Html.DisplayNameFor(user => user.UserName)
                    </dt>
                    <dd class="col-sm-10 text-white">
                        @Html.DisplayFor(user => user.UserName)
                    </dd>
                </dl>

                <form asp-action="Delete">
                    <input type="submit" value="Delete" class="btn btn-danger my-5" />
                    <a asp-action="Index" class="btn btn-primary my-5 ml-5">Back to Users List</a>
                </form>
            </div>
        </div>
    </div>
</section>
