<div class="footer" style="background-color: #a12c2f; margin-top: 0;">
    <p style="color: white;">
        Copyright © 2023 Subsogator, Ltd. All Rights Reserved.
        Distibuted By: Subtitles Management System
    </p>
</div>