@{
    ViewData["Title"] = "Privacy Policy";
}

<section class="meetings-page" style="min-height: 100vh;">
    <div class="container bg-light">
        <h1>@ViewData["Title"]</h1>
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</section>
